.productDetailsPage {
  min-height: 100vh;
  width: 80%;
  margin: auto;

  .addToCartBtn {
    margin: auto;
    display: block;
    width: 200px;
    outline: 0;
    display: block;
    color: white;
    height: auto;
    border: none;
    border-radius: 6px;
    padding: 6px 6px;
    background-color: none;
  }
  .productInformation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    h2 {
      text-align: center;
      color: white;
    }
    img {
      background-color: white;
      margin: auto;
      width: 400px;
      border-radius: 6px;
    }
    p {
      text-align: center;
      color: white;
    }
  }
}
