h3 {
  text-align: center;
}
.adminOrdersContainer {
  max-width: 1000px;
  max-width: 90%;
  margin: 40px auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
